name: deploy-pages
on:
  push: { branches: [ looper ] }
  workflow_dispatch:  ~
permissions:
  contents: write
  pages: write
  deployments: write
jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./packages
      - uses: actions/deploy-pages@v1      
